{% extends 'globalproject/base_p.html' %}
<!--{% load static %}-->
{% block content %}
   <div id="map"></div>
   <div id="gen"></div>
 <h1>Liste des especes de Test</h1>
    <ul>
<!--        {% for distribu in distribution %} -->
           <!-- <li><a href="#" class="distribution-link" data-distribution-id="{{ distribu.iddistribution }}">{{ distribu.accepted_name }}</a></li>-->
    <!--    {% endfor %}-->
    </ul>   
<!--<script src="{% static 'static/js/distrib_sp.js' %}"></script> -->  
 
{% endblock %}
