{% extends 'globalproject/base_d.html' %}
{% load static %}

{% block content %}
<!--     <div id="map"></div>-->
   <div id="gen"></div>
 <div id="map"></div>
   <!-- <h2>New post</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>-->
  <!-- <ul>
        {% for distribu in distribution %} 
            <li><a href="#" class="distribution-link" data-distribution-id="{{ distribu.iddistribution }}">a</a></li>
        {% endfor %}
    </ul>-->
<!--<script src="{% static 'static/js/distrib_sp.js' %}"></script> -->
<script src="{% static 'static/js/distrib_try.js' %}"></script>
{% endblock %}
